.questionBody {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;  */
  margin-top: 5%;
  border-bottom: #000000 1px dashed;
}

.answer_question_view {
  width: 15%;
}

.answer_question_text {
  width: 60%;
}

.answer_question_right {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 120%; /* Adjusts tooltip position above the icon */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

